<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gwl.mapper.FriendMapper">
    <!--回复好友申请 -->
    <update id="friendRequestResponse">
        <!-- 拒绝 -->
        <if test="res == 0">
            delete from friend_relation
            where user_id = #{friendId}
              and friend_id = #{myId}
              and status = 2
        </if>
        <!-- 接受 -->
        <if test="res == 1">
            <!-- 更新原申请记录 -->
            update friend_relation
            set status = 1
            where user_id = #{friendId}
              and friend_id = #{myId}
              and status = 2;
            <!-- 插入反向好友关系 -->
            insert into friend_relation (user_id, friend_id, status)
            values (#{myId}, #{friendId}, 1)
                on duplicate key update
                status = 1;
        </if>
    </update>
    
    <!-- 获取推荐好友 -->
    <select id="getRecommendedFriendIds">
        SELECT
        ui2.user_id AS targetUserId
            FROM user_interest ui1
            JOIN user_interest ui2
        ON ui1.interest = ui2.interest
        AND ui1.user_id = #{userId}
        AND ui2.user_id != #{userId}
        JOIN (
            SELECT user_id, COUNT(*) cnt
            FROM user_interest
            GROUP BY user_id
        ) uic1 ON uic1.user_id = #{userId}
        JOIN (
            SELECT user_id, COUNT(*) cnt
            FROM user_interest
            GROUP BY user_id
        ) uic2 ON uic2.user_id = ui2.user_id
        WHERE NOT EXISTS (
            SELECT 1
            FROM friend f
            WHERE f.user_id = #{userId}
            AND f.friend_id = ui2.user_id
        )
        AND uic2.cnt &gt; 0
        GROUP BY ui2.user_id
        ORDER BY COUNT(*) / SQRT(uic1.cnt * uic2.cnt) DESC
        LIMIT 100;
    </select>

    
</mapper>