<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gwl.mapper.FriendMapper">
    <!--回复好友申请 -->
    <update id="friendRequestResponse">
        <!-- 拒绝 -->
        <if test="res == 0">
            delete from friend_relation
            where user_id = #{friendId}
              and friend_id = #{myId}
              and status = 2
        </if>
        <!-- 接受 -->
        <if test="res == 1">
            <!-- 更新原申请记录 -->
            update friend_relation
            set status = 1
            where user_id = #{friendId}
              and friend_id = #{myId}
              and status = 2;
            <!-- 插入反向好友关系 -->
            insert into friend_relation (user_id, friend_id, status)
            values (#{myId}, #{friendId}, 1)
                on duplicate key update
                status = 1;
        </if>
    </update>
    
    <!-- 获取推荐好友 -->
    <select id="getRecommendedFriendIds">
        SELECT u.id
        FROM test_user u
        JOIN user_interest ui2
            ON u.id = ui2.user_id
        JOIN user_interest ui1
            ON ui1.interest_id = ui2.interest_id
            AND ui1.user_id = #{userId}
        WHERE u.id != #{userId}
            AND u.id NOT IN (
            SELECT friend_id
            FROM friend_relation
            WHERE user_id = #{userId}
        )
        GROUP BY u.id
        ORDER BY COUNT(ui2.interest_id) DESC, ABS(u.age - #{age}) ASC
        LIMIT 20
    </select>
</mapper>