<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwl.mapper.UserMapper">
  <!-- 注册用户 -->
  <insert id="insert" parameterType="com.gwl.pojo.entity.User" useGeneratedKeys="true"
    keyProperty="id"> insert into test_user(username,password,emailaddress,status,avatarurl) values
    ( #{username},#{password}, #{emailaddress}, #{status},#{avatarurl}) </insert>
  <!-- 建群 -->
  <insert id="createGroupChat" parameterType="com.gwl.pojo.entity.GroupChat" useGeneratedKeys="true"
    keyProperty="groupId"> INSERT INTO chatgroups (name,owner_id) VALUES (#{groupName},#{ownerId}); </insert>
  <!-- 插入群用户表 -->
  <insert id="insertGroupChatMember" parameterType="com.gwl.pojo.vo.GroupChatVO"> INSERT INTO
    group_members (group_id, user_id, role) VALUES <foreach collection="memberIds"
      item="memberId"
      separator=","> (#{groupId}, #{memberId}, <choose>
        <when test="memberId == _parameter.ownerId"> 'admin' </when>
        <otherwise> 'member' </otherwise>
      </choose>) </foreach>
  </insert>
  <!-- 获取群信息 -->
  <select id="getGroupChat" parameterType="long" resultType="com.gwl.pojo.entity.GroupChat"> SELECT
    g.id AS groupId, g.name AS groupName, g.owner_id AS ownerId, g.avatar_url AS avatarUrl,
    GROUP_CONCAT(m.user_id) AS memberIds FROM chatgroups g LEFT JOIN group_members m ON g.id =
    m.group_id WHERE g.id = #{id} GROUP BY g.id </select>
  <!--获取指定群聊信息-->
  <select id="getChatGroupByChatId" parameterType="long"
    resultType="com.gwl.pojo.entity.GroupChat"> SELECT g.id AS groupId, g.name AS groupName,
    g.owner_id AS ownerId, g.avatar_url AS avatarUrl, GROUP_CONCAT(m.user_id) AS memberIds FROM
    chatgroups g LEFT JOIN group_members m ON g.id = m.group_id WHERE g.id = #{id} GROUP BY g.id; </select>
  <!-- 根据关键词查找用户 -->
  <select id="searchForUsers"
    resultType="com.gwl.pojo.vo.SearchForUserVO"> SELECT u.id as userId, u.username as username,
    u.sex as sex, u.emailaddress as emailaddress, u.avatarurl as avatarurl, fr.status as status FROM
    test_user u LEFT JOIN friend_relation fr ON fr.user_id = #{userId} AND fr.friend_id = u.id WHERE
    u.id != #{userId} AND ( u.id = #{keyword} OR u.username LIKE CONCAT('%', #{keyword}, '%') ) AND
    (fr.status IS NULL OR fr.status != 1) ORDER BY u.create_time DESC LIMIT 10 </select>
</mapper>